{% extends "base/index.html" %}
{% load static bootstrap %}
{% block conteudo %} 

    <div class="container mt-5">
        <div class="text-center mb-4">
            <h2 class="fw-bold"><i class="bi bi-cash-coin text-primary"></i> Cadastrar Conta Correntes</h2>
            <p class="lead">Cadastre contas correntes dos clientes, acompanhe saldos, limites de crédito e mantenha o controle financeiro do seu negócio de forma eficiente.</p>
        </div>
        <form method="post">
            {% csrf_token %}
            {{form.media}}
            {{ form|bootstrap }}
            <div class="d-grid gap-2 col-6 mx-auto mt-3 mb-2">
                <button type="submit" class="btn btn-success rounded-pill">Cadastrar</button>
                <button type="button" onclick="history.back()" class="btn btn-danger rounded-pill">Cancelar</button>
            </div>
        </form>
    </div>
    <script>    
        $(document).ready(function() {
            $('#id_cliente').select2({
                ajax: {
                    url: "{% url 'cliente_pesquisar' %}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            term: params.term,
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data.results
                        };
                    },
                    cache: true
                },
                minimumInputLength: 1,
            });
        });
    </script>

{% endblock conteudo %}