{% extends "base/index.html" %}
{% load static bootstrap %}
{% block conteudo %} 

    <div class="container mt-5">
        <h2>Detalhes da Conta Corrente</h2>
        <h5 class="text-danger-emphasis fst-italic mt-3">Informações sobre o cliente</h5>
        <ul class="list-group">
            <li class="list-group-item"><b>Cliente:</b> {{conta.cliente.nome|default:"-"}}</li>
            <li class="list-group-item"><b>Telefone-Celular:</b> {{conta.cliente.telefone_celular|default:"-"}}</li>
            <li class="list-group-item"><b>Data de Aniversário:</b> {{conta.cliente.data_aniversario|default:"-"}}</li>
            <li class="list-group-item"><b>Descrição:</b> {{conta.cliente.observacoes|safe|default:"-"}}</li>
            <li class="list-group-item"><b>Gênero:</b> {{conta.cliente.genero|default:"-"}}</li>            
            
        </ul>
        <h5 class="text-danger-emphasis fst-italic mt-3">Informações sobre a conta</h5>
        <ul class="list-group">
            <li class="list-group-item"><b>Saldo Devedor:</b> R$ {{conta.saldo_devedor|default:"-"}}</li>
            <li class="list-group-item"><b>Limite de Crédito:</b> {{conta.limite_credito|default:"-"}}</li>
            <li class="list-group-item"><b>Descrição:</b> {{conta.observacoes|safe|default:"-"}}</li>
        </ul>
        <h3 class="mt-3">Vendas a Prazo</h3>
        {% if vendas_fiado %}
        <table class="table table-hover mt-3 text-center">
            <thead>
                <tr>
                    <th>ID da Venda</th>
                    <th>Data da Venda</th>
                    <th>Total (R$)</th>
                    <th>Número de Parcelas</th>
                    <th>Parcelas</th>
                </tr>
            </thead>
            <tbody>
                {% for venda in vendas_fiado %}
                <tr>
                    <td>{{ venda.id }}</td>
                    <td>{{ venda.data_venda|date:"d/m/Y" }}</td>
                    <td>{{ venda.total }}</td>
                    <td>{{ venda.num_parcelas }}</td>
                    <td>
                        <ul>
                            {% for parcela in venda.parcelas.all %}
                            <li>
                                Parcela {{ forloop.counter }} - Valor: R$ {{ parcela.valor }} - 
                                Vencimento: {{ parcela.data_vencimento|date:"d/m/Y" }} - 
                                Status: 
                                {% if parcela.pendente %}
                                    <span style="color: red;">Pendente</span><a href="{% url 'pagar_parcela' parcela.pk %}" class="ms-2">Pagar</a>
                                {% else %}
                                    <span style="color: green;">Pago</span>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Não há vendas fiado associadas a esta conta.</p>
    {% endif %}

<div>

{% endblock conteudo %}