{% extends "base/index.html" %}
{% load static bootstrap %}
{% block conteudo %} 

    <div class="container mt-5">
        <h2>Clientes</h2>
        <div class="row">
            <form method="get" class="form-inline mb-3 d-flex">
                <input type="text" name="q" class="form-control me-2" placeholder="Pesquisar cliente" value="{{ request.GET.q }}">
                <button type="submit" class="btn btn-success">Pesquisar</button>
            </form>
        </div>
        {% if clientes %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Data de Aniversário</th>
                        <th>Telefone Celular</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.data_aniversario }}</td>
                        <td>{{ cliente.telefone_celular }}</td>
                        <td>
                            <a href="{% url 'editar_cliente' cliente.pk %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'detalhe_cliente' cliente.pk %}" class="btn btn-warning">Detalhes</a>                         
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-danger" role="alert">
                Não há cliente cadastrado.
            </div>   
        {% endif %}
    </div>

{% endblock conteudo %}