{% extends "base/index.html" %}
{% load static bootstrap %}
{% block conteudo %} 

    <div class="container mt-5">
        <h2>Tipos de Produtos</h2>
        {% if tiposdeprodutos %}
            <table class="table table-hover text-center mt-3">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tipo in tiposdeprodutos %}
                    <tr>
                        <td>{{ tipo.id }}</td>
                        <td>{{ tipo.nome|default:"-" }}</td>
                        <td>{{ tipo.descricao|safe|default:"-" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info" role="alert">
                Sem tipo de produto cadastrado.
            </div>
        {% endif %}
    </div>

{% endblock conteudo %}