.select2-container--default .select2-selection--single {
    background-color: #212529 !important;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
color: #f4f3f3 !important;
line-height: 28px;
}

.form-group{
    margin-top: 10px !important;
}
.help-block{
    font-size: 12px !important;
    color: #dc3545 !important;
}