{% extends "base/index.html" %}
{% load static bootstrap %}
{% block conteudo %} 

    <div class="container mt-5">
        <a href="{% url 'cadastrar_usuario' %}" class="btn btn-success mb-5">Cadastrar Colaborador</a>
        <h2>Colaboradores</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.nome }}</td>
                        <td>{{ usuario.cpf }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>
                            <a href="{% url 'editar_usuario' usuario.pk %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'detalhe_colaborador' usuario.pk %}" class="btn btn-warning">Detalhes</a>
                            <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Funcionalidade em construção">
                                Alterar Senha
                            </a>
                            <a class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Funcionalidade em construção">
                                Inativar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock conteudo %}