{% extends "base/index.html" %}
{% load static bootstrap form_tags %}
{% block conteudo %}

    <div class="container mt-5">
        <h2>Cadastrar Venda</h2>
        <form method="post">
            {% csrf_token %}
            {{form.media}}
            {{ form|bootstrap }}
            {{ item_form|bootstrap }}
            <div class="d-grid gap-2 col-6 mx-auto mt-3 mb-2">
                <button type="submit" class="btn btn-success rounded-pill">Cadastrar Venda</button>
            </div>
        </form>
    </div>

{% endblock conteudo %}

<script>    
    $(document).ready(function() {
        $('#id_cliente').select2({
            ajax: {
                url: "{% url 'cliente_pesquisar' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        term: params.term,
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.results
                    };
                },
                cache: true
            },
            minimumInputLength: 1,
        });
        $('#id_produto').select2({
            ajax: {
                url: "{% url 'produto_por_empresa' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        term: params.term,
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.results
                    };
                },
                cache: true
            },
            minimumInputLength: 1,
        });
    });
</script>