{% extends "base/index.html" %}
{% load static bootstrap %}
{% block conteudo %} 

    <div class="container mt-5">
        <h2>Criar Empresa</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{ form|bootstrap }}
            <div class="d-grid gap-2 col-6 mx-auto mt-3 mb-2">
                <button type="submit" class="btn btn-success rounded-pill">Cadastrar</button>
            </div>
        </form>
    </div>

{% endblock conteudo %}