{% extends "base/index.html" %}
{% load static bootstrap %}
{% block conteudo %} 

<div class="container mt-5">
    <h2>Cadastrar Meta</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{ form|bootstrap }}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <div class="d-grid gap-2 col-6 mx-auto mt-3 mb-2">
            <button type="submit" class="btn btn-success rounded-pill">Cadastrar</button>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('#id_data_inicio').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
            language: 'pt-BR'
        });
        
    });
</script>

{% endblock conteudo %}