{% extends "base/index.html" %}
{% load static bootstrap %}
{% block conteudo %} 

<div class="container mt-5">
    <h2>Fechar Meta</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="d-grid gap-2 col-6 mx-auto mt-3 mb-2">
            <button type="submit" class="btn btn-success rounded-pill">Encerrar Meta</button>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $('#id_data_fim').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
            language: 'pt-BR'
        });
    });
</script>


{% endblock conteudo %}