{% extends "base/index.html" %}
{% load static bootstrap %}
{% block conteudo %} 

    <div class="text-center mb-4">
        <h2 class="fw-bold"><i class="bi bi-tags text-primary"></i> Listagem de Marcas</h2>
        <p class="lead">Gerencie as marcas dos seus produtos para facilitar a identificação, organização e análise de vendas.</p>
    </div>

    <div class="container mt-5">
        <a href="{% url 'cadastrar_marca' %}" class="btn btn-success mb-5">Cadastrar Marcas</a>
        <h2>Marcas</h2>
        {% if marcas %}
            <table class="table table-hover text-center mt-3">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for marca in marcas %}
                    <tr>
                        <td>{{ marca.id }}</td>
                        <td>{{ marca.nome|default:"-" }}</td>
                        <td>{{ marca.descricao|safe|default:"-" }}</td>
                        <td>{{ marca.url|default:"-" }}</td>                
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info" role="alert">
                Sem marca cadastrada.
            </div>
        {% endif %}
    </div>

{% endblock conteudo %}